<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
</head>


<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="container-fluid d-flex mx-auto flex-column" id="super-container">
        <main class="px" id="main">
            <div class="row">
                <div class="col">
                    <h1 id="home" class="text-center">COVID-19<span> WORLDWIDE DATA </span></h1>
                </div>
            </div>
            <form method="post" class="row g-2 justify-content-center" action="" id="form">
                {% csrf_token %}
                <div class="col-auto">
                    <select id="selectNations" selected={{selectedcountry}} name="selectedcountry" class="form-select"
                        aria-label="Default select example">
                        {% for country in listNations %}
                        {% if country == selectedcountry %}
                        <option selected="selected">{{country}}</option>
                        {% else %}
                        <option>{{country}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="col-auto">
                    <button type="submit" name="" class="btn btn-primary mb-3">Search</button>
                </div>
            </form>


            <div id="titleCountry" class="row">
                <div class="col">
                    <h1 class="text-center">{{selectedcountry}}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="container" style="background-color: orange;">
                        <h3 style="text-align: center;">Total</h3>
                        <h1 style="text-align: center;">{{total}}</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="container" style="background-color: green;">
                        <h3 style="text-align: center;color: white">Recovered</h3>
                        <h1 style="text-align: center;color: white">{{recovered}}</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="container" style="background-color: #ffc107!important;">
                        <h3 style="text-align: center;">Active</h3>
                        <h1 style="text-align: center;">{{active}}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="container" style="background-color:#007bff!important ;">
                        <h3 style="text-align: center;">New</h3>
                        <h1 style="text-align: center;">{{new}}</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="container" style="background-color: #6c757d!important;">
                        <h3 style="text-align: center;color: white">Deaths</h3>
                        <h1 style="text-align: center;color: white">{{deaths}}</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="container" style="background-color:#dc3545!important ;">
                        <h3 style="text-align: center;color: white">Critical</h3>
                        <h1 style="text-align: center;color: white">{{critical}}</h1>
                    </div>
                </div>
            </div>
        </main>
    
    <footer class="mt-auto text-white-50" id="footer">
    <p>By: Fábio Vitor <a href="https://github.com/FVitor7" class="text-white">GitHub</a>, and <a href="https://www.linkedin.com/in/fvitor7/" class="text-white">LinkedIn</a>.</p>
  </footer>
</div>
</body>

</html>